@model bugLog.Models.Bug

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bug</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssignedToTeamId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssignedToTeamId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BugReportedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BugReportedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BugTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BugTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BugDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BugDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BugStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BugStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BugSeverity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BugSeverity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BugCreatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BugCreatedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BugClosedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BugClosedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BugResolutionSummary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BugResolutionSummary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BugAssignedToNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BugAssignedToNavigation.DisplayName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BugClosedByNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BugClosedByNavigation.DisplayName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BugCreatedByNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BugCreatedByNavigation.DisplayName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BugId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
