@model IEnumerable<bugLog.Models.Bug>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout2";
}

<h1>Bugs</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                SUBJECT
            </th>
            <th>
                REPORTER
            </th>
            <th>
                DATE OPENED
            </th>
            <th>
               ASSIGNED
            </th>
            <th>
                STATUS
            </th>
            <th>
                SEVERITY
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BugTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BugReportedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BugCreatedOn)
            </td>
            <td>
                 @Html.DisplayFor(modelItem => item.BugAssignedToNavigation.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BugStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BugSeverity)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BugId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BugId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BugId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
